* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonGraphicContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.graphicContainer {
    height: 70vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

.graphicContainer>.inner {
    position: absolute;
    bottom: 0;
    width: fit-content;
    display: flex;
    align-items: baseline !important;
}

video {
    min-width: 200px;
    width: 25vw;
}

img {
    min-width: 80px;
    width: 10vw;
}

.button {
    width: 100vw;
    z-index: 10 !important;
    margin-top: -30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 30vh;
}

.play {
    font-weight: 800;
    height: fit-content;
    padding: 10px 60px;
    border-radius: 10px;
    background-color: yellow;
    border: 0;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heartDiv {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -250px;
    left: 50px;
    display: none;
    place-content: center;
}